@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
#nav-menu{
    position: fixed;
    height: 83px;
    background-color: #FCFCFC;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
#nav-menu>ul{
    display: flex;
    list-style: none;
    
}
.nav-link{
    margin:0 5px;
}
.nav-link>a{
    padding: 10px 15px;
    border-radius: 7px;
    font-size: 18px;
    text-decoration: none;
    color: #000; 
}
.nav-link>a:hover{
    background-color: rgb(209, 209, 209);
}
.projects>a{
    color: #E84949;
}
.logo{
    font-size: 30px;
    font-weight: bold;
    color: #343d68;
}
.logo>img{
    height: 55px;
}
#nav-btn{
    
    display: none;
}
#nav-bar{
    color: #E84949;
    font-size: 30px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    display: none;
}
#nav-btn:checked ~ ul{
    left: 0;
}

@media (max-width: 990px) {
   
    #nav-bar{
        display: block;
    }
    #nav-menu>ul{
        position: fixed;
        top: 83px;
        left: -100%;
        width: 100%;
        min-height: 100vh;
        text-align: center;
        display: block;
        background-color: #343D68;
        transition: all 0.3s ease-in-out;
    }
    
    .nav-link{
        margin: 30px 0;
    }
    .nav-link>a{
        font-size: 20px;
        color: #FCFCFC;
    }
    .nav-link>a:hover{
        background-color:#343D68;
        color: #E84949;
    }
}
