@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
    
}
/* body{
    background-color: rgb(234, 234, 234);
} */
.primary-btn{
    color: #FCFCFC;
    background-color: #E84949;
    font-size: 18px;
    padding: 10px 15px;
    border: none;
    width: max-content;
    cursor: pointer;
    transition: 0.3s;
}
.primary-btn:hover{
    background-color: #343D68;
    
}
#nav-menu{
    position: fixed;
    z-index: 20;
    height: 83px;
    background-color: #FCFCFC;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
#nav-menu>ul{
    display: flex;
    list-style: none;
    
    transition: all 0.3 ease-in-out;
}
.nav-link{
    margin:0 5px;
}
.nav-link>a{
    padding: 10px 15px;
    border-radius: 7px;
    font-size: 18px;
    text-decoration: none;
    color: #000; 
}
#resume-link-1{
    border-radius: 0;
    color: #FCFCFC;
    background-color:#E84949;
    transition: 0.3s;
}
#resume-link-1:hover{
    border-radius: 4px;
    color: #FCFCFC;
    background-color:#343D68;
}
.nav-link>a:hover{
    background-color: rgb(209, 209, 209);
}
/* .projects>a{
    color: #E84949;
} */
.logo{
    font-size: 30px;
    font-weight: bold;
    color: #343d68;
}
.logo>img{
    height: 55px;
    mix-blend-mode: multiply;
}
#nav-btn{
    
    display: none;
}
#nav-bar{
    color: #E84949;
    font-size: 30px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    display: none;
}

#nav-btn:checked ~ ul{
    left: 0;
}

/* home section  */
#home{
    width: 100%;
    padding-top:150px;
}
#home-container{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#home-container>*{
    width:45%;
}
#professional-img-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
#image-dec-balls{
    position: absolute;
    display:flex;
    flex-wrap: wrap;
    width:60px;
    gap: 10px;
}
.bottom-dec-balls{
    right: -30px;
    bottom: -10px;
}
.image-dec-ball{
    background-color: #E84949;
    border-radius: 50%;
    height: 10px;
    width: 10px;
}
#resume-button-2{
    margin: 20px 0;
}
.top-dec-balls{
    animation: topball 3s infinite;
}
@keyframes topball {
    0%{
    top: 20px;
    }
    50%{
        top: -10px;
    }
    100%{
    top: 20px;
    }
}
.bottom-dec-balls{
    animation: botball 3s 0.5s infinite;
}
@keyframes botball {
    0%{
    bottom: -10px;
    }
    50%{
        bottom: 20px;
    }
    100%{
    bottom: -10px;
    }
}
.top-dec-balls>.image-dec-ball{
    background-color: #343D68;}
.top-dec-balls{
    left: -30px;
    top: 20px;
}
#img-cont{
    position: relative;
    width: 50%;
}
#professional-img{
    width: 100%;
}
#details{
    padding: 30px 10px;
}

#details>p{
    color: #343D68;
    font-size: 30px;
}
h1{
    color: #343D68;
    font-size: 35px;
}





/* contact section */
#contact{
    width: 100%;
    
}
#contact-mail{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
#contact-mail>*{
    width: 45%;
}
#contact-mail>img{
    align-self: center;
    height:max-content;
    mix-blend-mode: multiply;
}
#heading{
    color: #E84949;
    text-align: center;
    font-size: 18px;
    padding: 30px 0 20px 0;
}
#contact-mail>form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#contact-mail>form>input{
    width: 100%;
    border-radius: 4px;
    border: none;
    margin-bottom: 43px;
    padding: 12px 19px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#contact-mail>form>#form-message{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 100%;
    border-radius: 4px;
    border: none;
    margin-bottom: 43px;
    padding: 12px 19px;
    height: 110px;
    resize: none;
}
#contact-mail>form>#form-submit{
    margin-left: auto;
    margin-right: auto;
    color: #FCFCFC;
    background-color: #343D68;
    padding:12px, 24px, 12px, 24px;
    width: max-content;
    cursor: pointer;
}

#contact-socials{
    height: 150px;
    background-color: #343d68;
    display: flex;
    align-items: center;
    color: white;
    font-size: 16px;
}
#contact-socials a{
color: white;
text-decoration: none;
}
#contact-socials-container{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#contact-socials-container p{
    margin-bottom: 20px;
}

#contact-not-git-container{
    display: flex;
}
#contact-not-git-container>*{
    margin-right: 20px;
}
#contact-git-container{
    display: flex;
}
#contact-github{
    margin-right: 20px;
}


/* skills section  */
#skills{
    width: 100%;
}
#skills-divs{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
#skills-divs>*{
    align-self: center;
    width: 45%;
}
#skills-divs>img{
    height: fit-content;
    mix-blend-mode: multiply;
}
#skills-card-container{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    margin-top: 40px;
    justify-content: flex-start;
    gap: 20px 45px;
}
.skills-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
#skills-img-div{
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    overflow: hidden;
    padding: 7px;
    border: 3px solid #343D68;
    margin-bottom:10px;
}
.skills-card-img{
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
}
.skills-card-name{
    font-size: 14px;
}
#skills-actual-text{
    color: #818080;
}

/* projects section  */
#projects{
    margin-top: 20px;
    background-color: #343D68;
    padding-bottom: 50px;
}
#projects-container{
    width: 80%;
    display: flex;
    box-sizing: content-box;
    margin: auto ;
    padding-bottom: 20px;
    overflow-x: scroll;
    column-gap: 30px;
    scroll-snap-type: x mandatory;
}
#projects-container::-webkit-scrollbar {
    height: 12px;
  }
  #projects-container::-webkit-scrollbar-thumb,
  #projects-container::-webkit-scrollbar-track {
    border-radius: 92px;
  }
#projects-container::-webkit-scrollbar-thumb {
    background-color: #E84949;
  }
#projects-container::-webkit-scrollbar-track {
    background: white;
  }
#projects-container-left-arrow,#projects-container-right-arrow{
    position: absolute;
    color: white;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    cursor: pointer;
}
.project-card{
    display: flex;
  flex-direction: column;
  flex: 0 0 100%;
  scroll-snap-align: start;
    text-align: center;
    flex-basis: calc(30% - 20px);
    scroll-snap-align: start;
    border-radius: 4px;
    background-color: #FCFCFC;
    padding: 10px;
}

.project-card>*{
    margin-bottom: 15px;
}
.project-img{
    border-radius: 5px 5px 0 0;
    width: 100%;
}
.project-description,.project-tech-stack{
    font-size: 14px;
}
.project-links{
    letter-spacing: 15px;
    font-size: 20px;
    margin-bottom: 0px;
}
.project-links a{
    color: #343d68;
}


/* about section */
#about{
    margin: 10px 0;
    text-align: justify;
}
#about-container{
    width: 80%;
    margin: auto;
}
#user-detail-name{
    font-size: 30px;
    color: #343d68;
    font-weight: bold;
}
#user-detail-intro{
    padding: 20px 0;
    color: #818080;
}

/* git stats */
#git-stats{
    width: 80%;
    margin: auto;
    
}
#git-stats>div{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    gap:10px 0;
    flex-wrap: wrap;
}
.git-stat-div{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.git-stat-div>img{
    width: 100%;
    height: 100%;
    
}
.js-calendar-graph-svg{
    height:fit-content;
}
@media (max-width: 990px){
    .git-stat-div{
        width: 100%;}
    #resume-link-1:hover{
        border-radius: 0;
        background-color:#E84949;
    }
    #home-container{
        flex-direction: column-reverse;
    }
    #home-container>*{
        width: 100%;
    }
    #nav-bar{
        display: block;
    }
    #nav-menu>ul{
        position: fixed;
        top: 83px;
        left: -100%;
        width: 80%;
        height: 100vh;
        text-align: center;
        display: block;
        background-color: #343D68;
        transition: all 0.3s ease-in-out;
    }
    
    .nav-link{
        margin: 30px 0;
    }
    .nav-link>a{
        font-size: 20px;
        color: #FCFCFC;
    }
    .nav-link>a:hover{
        background-color:#343D68;
        color: #E84949;
    }
    #contact-not-git-container>*{
        margin-bottom: 10px;
    }
     #contact-not-git-container{
        flex-direction: column;
     }
     #skills-card-container{
        gap: 20px 30px;
        grid-template-columns: repeat(3,1fr);
    }
    .project-card{
        flex-basis: calc(50% - 20px);
    }

}
@media (max-width:600px) {
    #details>p{
        font-size: 18px;
    }
    h1{
        font-size: 25px;
    }
    #user-detail-name{
        font-size: 25px;}
    #image-dec-balls{
        width:40px;
        gap: 10px;
    }
    .image-dec-ball{
        height: 5px;
        width: 5px;
    }

    .logo>img{
        height: 40px;
    }
    #contact-mail{
        flex-direction: column;
    } 
    #contact-mail>*{
        width: 100%;
    }
    #contact-socials-container{
        
       flex-direction: column;
    } 
    #contact-socials{
        height: 300px;
    }
    #contact-not-git{
        margin-bottom: 70px;

    }
    #contact-not-git-container{
       flex-direction: column;
    }

    #contact-socials-container>*{
        width: 100%;
        font-size: 14px;
    }
    #skills-divs{
        flex-direction: column-reverse;
    }
    #skills-divs>*{
        width: 100%;
    }
    #skills-actual{
        margin-top: 20px;
    }
    #skills-actual-text{
        color: #818080;
        text-align: center;
    }
    #skills-card-container{
        gap: 20px 20px;
    }
    .project-card{
        flex-basis: calc(100%);
    }
}
