@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}
#nav-menu{
    position: fixed;
    height: 83px;
    background-color: #FCFCFC;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
#nav-menu>ul{
    display: flex;
    list-style: none;
    
}
.nav-link{
    margin:0 5px;
}
.nav-link>a{
    padding: 10px 15px;
    border-radius: 7px;
    font-size: 18px;
    text-decoration: none;
    color: #000; 
}
.nav-link>a:hover{
    background-color: rgb(209, 209, 209);
}
.projects>a{
    color: #E84949;
}
.logo{
    font-size: 30px;
    font-weight: bold;
    color: #343d68;
}
.logo>img{
    height: 55px;
}
#nav-btn{
    
    display: none;
}
#nav-bar{
    color: #E84949;
    font-size: 30px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    display: none;
}
#nav-btn:checked ~ ul{
    left: 0;
}

/* home section  */
#home{
    padding-top:83px;
}







/* contact section */
#contact{
    width: 100%;
    
}
#contact-mail{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
#contact-mail>*{
    width: 45%;
}
#contact-mail>img{
    align-self: center;
    height:max-content;
}
#heading{
    color: #E84949;
    text-align: center;
    padding: 30px 0 20px 0;
}
#contact-mail>form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#contact-mail>form>input{
    width: 100%;
    border-radius: 4px;
    border: none;
    margin-bottom: 43px;
    padding: 12px 19px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#contact-mail>form>#form-message{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 100%;
    border-radius: 4px;
    border: none;
    margin-bottom: 43px;
    padding: 12px 19px;
    height: 110px;
    resize: none;
}
#contact-mail>form>#form-submit{
    margin-left: auto;
    margin-right: auto;
    color: #FCFCFC;
    background-color: #343D68;
    padding:12px, 24px, 12px, 24px;
    width: max-content;
    cursor: pointer;
}

#contact-socials{
    height: 150px;
    background-color: #343d68;
    display: flex;
    align-items: center;
    color: white;
    font-size: 16px;
}
#contact-socials a{
color: white;
}
#contact-socials-container{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#contact-socials-container p{
    margin-bottom: 20px;
}
#contact-not-git-container{
    display: flex;
}
#contact-not-git-container>*{
    margin-right: 20px;
}
#contact-git-container{
    display: flex;
}
#contact-github{
    margin-right: 20px;
}

@media (max-width: 990px){
   
    #nav-bar{
        display: block;
    }
    #nav-menu>ul{
        position: fixed;
        top: 83px;
        left: -100%;
        width: 100%;
        min-height: 100vh;
        text-align: center;
        display: block;
        background-color: #343D68;
        transition: all 0.3s ease-in-out;
    }
    
    .nav-link{
        margin: 30px 0;
    }
    .nav-link>a{
        font-size: 20px;
        color: #FCFCFC;
    }
    .nav-link>a:hover{
        background-color:#343D68;
        color: #E84949;
    }
    


}
@media (max-width:600px) {
    .logo>img{
        height: 40px;
    }
    #contact-mail{
        flex-direction: column;
    } 
    #contact-mail>*{
        width: 100%;
    }
    #contact-socials-container{
        
       flex-direction: column;
    } 
    #contact-socials{
        height: 300px;
    }
    #contact-not-git{
        margin-bottom: 70px;
    }
     
}
